
<section class="
    c-dim m-pt-11 m-pb-11 m-pl-5 m-pr-5 m-o-hidden
    c-skin m-bc-purple-500 m-c-grey-light-100"
    m-pt-8="xs,sm"
    m-pb-8="xs,sm">
    <figure class="
        c-dis m-flex m-column m-gap-6 m-cross-center
        c-txt m-ta-center
        c-dim m-w-100 m-maxw-8 m-m-auto m-mt-8 m-mb-8 m-p-0">
        <blockquote class="c-dim m-m-0 m-p-0">
            <p class="
                c-dim m-m-0
                c-txt m-ff-lead-600 m-fs-10 m-lh-4"
                m-fs-9="xs,sm">
                <span class="
                    c-dis
                    c-pos m-relative"
                    m-inline-flex="md,lg"
                    m-flex="xs,sm">
                    <svg class="c-pos m-bottom-100 m-right-100" m-absolute="md,lg" width="108" height="80" viewBox="0 0 108 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.9997 0C11.2417 0 0.875668 10.2387 0.669668 22.9472C0.0683342 28.714 0.155666 37.2207 4.053 47.042C8.03633 57.0787 15.8157 68.028 29.9997 78.666C32.945 80.8753 37.1237 80.2787 39.333 77.3327C41.5423 74.3873 40.945 70.2087 37.9997 67.9993C27.573 60.18 21.5937 52.5767 18.1803 45.9353C20.041 46.4127 21.9903 46.6667 23.9997 46.6667C36.8863 46.6667 47.333 36.22 47.333 23.3333C47.333 10.4467 36.8863 0 23.9997 0ZM83.9997 0C71.2419 0 60.8757 10.2387 60.6697 22.9473C60.0683 28.714 60.1557 37.2207 64.053 47.042C68.0362 57.0787 75.8158 68.028 89.9997 78.666C92.9453 80.8753 97.1239 80.2787 99.3331 77.3327C101.542 74.3873 100.945 70.2087 97.9998 67.9993C87.5733 60.18 81.5935 52.5767 78.1805 45.9353C80.0407 46.4127 81.9905 46.6667 83.9997 46.6667C96.8863 46.6667 107.333 36.22 107.333 23.3333C107.333 10.4467 96.8863 0 83.9997 0Z" fill="#181A1C" fill-opacity="0.05"/>
                        <path d="M57.9997 9C52.8965 9 48.7501 13.0955 48.6677 18.1789C48.4271 20.4856 48.4621 23.8883 50.021 27.8168C51.6143 31.8315 54.7261 36.2112 60.3997 40.4664C61.5778 41.3501 63.2493 41.1115 64.133 39.9331C65.0167 38.7549 64.7778 37.0835 63.5997 36.1997C59.429 33.072 57.0373 30.0307 55.6719 27.3741C56.4162 27.5651 57.1959 27.6667 57.9997 27.6667C63.1543 27.6667 67.333 23.488 67.333 18.3333C67.333 13.1787 63.1543 9 57.9997 9ZM81.9997 9C76.8966 9 72.7501 13.0955 72.6677 18.1789C72.4271 20.4856 72.4621 23.8883 74.021 27.8168C75.6143 31.8315 78.7261 36.2112 84.3997 40.4664C85.5779 41.3501 87.2494 41.1115 88.133 39.9331C89.0167 38.7549 88.7779 37.0835 87.5997 36.1997C83.4291 33.072 81.0372 30.0307 79.672 27.3741C80.4161 27.5651 81.196 27.6667 81.9997 27.6667C87.1543 27.6667 91.333 23.488 91.333 18.3333C91.333 13.1787 87.1543 9 81.9997 9Z" fill="#FF6E41"/>
                    </svg>
                </span>

                {{ cms_model[cms_page.language].text }}

                <span class="c-dis m-inline-flex c-pos m-relative">
                    <svg class="c-pos m-absolute m-bottom-100" width="43" height="32" viewBox="0 0 43 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M33.3333 0C38.4365 0 42.5829 4.09547 42.6653 9.17888C42.9059 11.4856 42.8709 14.8883 41.312 18.8168C39.7187 22.8315 36.6069 27.2112 30.9333 31.4664C29.7552 32.3501 28.0837 32.1115 27.2 30.9331C26.3163 29.7549 26.5552 28.0835 27.7333 27.1997C31.904 24.072 34.2957 21.0307 35.6611 18.3741C34.9168 18.5651 34.1371 18.6667 33.3333 18.6667C28.1787 18.6667 24 14.488 24 9.33333C24 4.17867 28.1787 0 33.3333 0ZM9.33333 0C14.4364 0 18.5829 4.09547 18.6653 9.17891C18.9059 11.4856 18.8709 14.8883 17.312 18.8168C15.7187 22.8315 12.6069 27.2112 6.93331 31.4664C5.75509 32.3501 4.08363 32.1115 3.19997 30.9331C2.31629 29.7549 2.55507 28.0835 3.73328 27.1997C7.90387 24.072 10.2958 21.0307 11.661 18.3741C10.9169 18.5651 10.137 18.6667 9.33333 18.6667C4.17867 18.6667 0 14.488 0 9.33333C0 4.17867 4.17867 0 9.33333 0Z" fill="#181A1C" fill-opacity="0.05"/>
                        <path d="M17.833 4C19.7467 4 21.3016 5.5358 21.3325 7.44208C21.4227 8.3071 21.4096 9.5831 20.825 11.0563C20.2275 12.5618 19.0606 14.2042 16.933 15.7999C16.4912 16.1313 15.8644 16.0418 15.533 15.5999C15.2016 15.1581 15.2912 14.5313 15.733 14.1999C17.297 13.027 18.1939 11.8865 18.7059 10.8903C18.4268 10.9619 18.1344 11 17.833 11C15.9 11 14.333 9.433 14.333 7.5C14.333 5.567 15.9 4 17.833 4ZM8.83301 4C10.7467 4 12.3016 5.5358 12.3325 7.44209C12.4227 8.3071 12.4096 9.5831 11.825 11.0563C11.2275 12.5618 10.0606 14.2042 7.933 15.7999C7.49117 16.1313 6.86437 16.0418 6.533 15.5999C6.20162 15.1581 6.29116 14.5313 6.73299 14.1999C8.29696 13.027 9.19394 11.8865 9.70589 10.8903C9.42686 10.9619 9.13438 11 8.83301 11C6.90001 11 5.33301 9.433 5.33301 7.5C5.33301 5.567 6.90001 4 8.83301 4Z" fill="#FF6E41"/>
                    </svg>
                </span>
            </p>
        </blockquote>
        <div class="
            c-dim m-pl-3 m-pr-3
            c-skin m-bc-orange-500"
            style="height:2px"></div>
        <figcaption class="
            c-txt m-fs-3
            c-skin m-c-grey-dark-900">
            {{ cms_model[cms_page.language].author }}
        </figcaption>
    </figure>
</section>
<script src="https://cdn.jsdelivr.net/npm/howler@2.2.3/dist/howler.min.js"></script>
<script>
    const bassguitar = new Howl({
        src: ['{{ envlocal.url | default: env.url }}{{ envlocal.baseurl | default: env.baseurl }}/medias/bassguitar.mp3']
    });
    const clav = new Howl({
        src: ['{{ envlocal.url | default: env.url }}{{ envlocal.baseurl | default: env.baseurl }}/medias/clav.mp3']
    });
    const drums = new Howl({
        src: ['{{ envlocal.url | default: env.url }}{{ envlocal.baseurl | default: env.baseurl }}/medias/drums.mp3']
    });
    const horns = new Howl({
        src: ['{{ envlocal.url | default: env.url }}{{ envlocal.baseurl | default: env.baseurl }}/medias/horns.mp3']
    });
    const leadguitar = new Howl({
        src: ['{{ envlocal.url | default: env.url }}{{ envlocal.baseurl | default: env.baseurl }}/medias/leadguitar.mp3']
    });

    function play() {
        bassguitar.play();
        clav.play();
        drums.play();
        horns.play();
        leadguitar.play();
    }
    function pause() {
        bassguitar.pause();
        clav.pause();
        drums.pause();
        horns.pause();
        leadguitar.pause();
    }
    function stop() {
        bassguitar.stop();
        clav.stop();
        drums.stop();
        horns.stop();
        leadguitar.stop();
    }
</script>
<button onclick="play()">play</button>
<button onclick="pause()">pause</button>
<button onclick="stop()">stop</button>